html {
  font-family: var(--fontBody);
  background-color: var(--colorBackground);
  color: var(--colorText);
  font-size: var(--fontBase);
  line-height: 1.125;
  text-underline-offset: 2px;
  scroll-behavior: smooth;
  scrollbar-color: var(--colorText) transparent;
  scrollbar-width: thin;
  font-variant-ligatures: normal;
}

/* Scrollbar styles */

*::-webkit-scrollbar {
  width: var(--spaceS);
}

*::-webkit-scrollbar-track {
  padding: var(--spaceXS);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--colorText);
  border-radius: var(--corner);
  border: 4px solid var(--colorBackground);
}

/* User selection */

*::selection {
  background-color: var(--colorText);
  color: var(--colorBackground);
}

::placeholder {
  color: var(--colorNeutral);
}

/* Global styles */

h1,
h2,
h3,
h4 {
  font-family: var(--fontHeadline);
  font-weight: bold;
}

h1 {
  font-size: var(--fontXL);
  text-transform: uppercase;
}

h2,
h3 {
  font-size: var(--fontL);
}

a {
  transition: var(--transition);
}

p a {
  text-decoration-color: currentColor;
  text-decoration: underline;
}

p a:hover {
  text-decoration-color: var(--colorAccent);
}

code {
  font-family: var(--fontMono);
  overflow: auto;
}

section {
  position: relative;
}

small {
  font-size: var(--fontS);
}

strong {
  font-weight: bold;
}

ul:not(article *) {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
}

li:not(article *) {
  padding: var(--spaceL) 0;
  position: relative;
  width: 100%;
  max-width: 100%;
}

li + li:not(article *) {
  /*   border-top: 2px dotted var(--colorText); */
  background-image: var(--patternBorder);
  background-size: 0px 100%, 100% 2px, 0px 100%, 100% 0px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

input[type='checkbox'] {
  width: 1rem;
  aspect-ratio: 1;
  border: 2px solid var(--colorText);
  position: relative;
}

input[type='checkbox']:checked {
  background-color: var(--colorText);
  color: var(--colorBackground);
}

input[type='checkbox']:checked::after {
  content: '✔';
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
}

/* Post content format */

article {
  display: grid;
  gap: var(--spaceM);
}

article strong {
  font-weight: bold;
}
article em {
  /* font-family: 'Lora', serif; */
  font-style: italic;
}

article sub {
  font-size: 0.75em;
  vertical-align: sub;
}

article hr::after {
  display: block;
  content: '***';
  text-align: center;
  padding: var(--spaceM) 0;
}

article mark {
  background-color: var(--colorText);
  color: var(--colorBackground);
  padding: var(--spaceXXS) var(--spaceXS);
}

article sup {
  font-size: 0.75em;
  vertical-align: super;
}

article s {
  text-decoration: line-through;
}
article h1 {
  font-size: 2em;
}
article h2 {
  font-size: 1.5em;
}
article h3 {
  font-size: 1.25em;
}
article :is(ul, ol) {
  padding-left: var(--spaceS);
  margin-left: var(--spaceS);
  display: grid;
  gap: var(--spaceS);
}

article :is(ul, ol) :is(ul, ol) {
  padding-top: var(--spaceS);
}

article ul ul li {
  list-style: disc;
}

article ul li {
  list-style: square;
}
article ol li {
  list-style: decimal;
}

article pre {
  padding: var(--spaceM);
  background-color: var(--colorDark);
  color: var(--colorLight);
  border-radius: var(--corner);
  max-width: calc(100vw - var(--spaceM) * 2);
  overflow: auto;
}
article blockquote {
  font-family: 'Lora', serif;
  padding: 0 var(--spaceM);
  border-left: 4px solid var(--colorText);
  font-style: italic;
}
article a {
  text-decoration: underline;
}

article a:hover {
  text-decoration-color: var(--colorAccent);
}

/* Syntax highlights */

.hljs-keyword,
.hljs-attribute,
.hljs-attr {
  color: var(--colorSyntaxKeyword);
}
.hljs-literal,
.hljs-number,
.hljs-tag {
  color: var(--colorSyntaxLiteral);
}

.hljs-title,
.hljs-selector-class,
.hljs-selector-tag,
.hljs-name {
  color: var(--colorSyntaxTitle);
}

.hljs-variable,
.hljs-built_in {
  color: var(--colorSyntaxVariable);
}

.hljs-string {
  color: var(--colorSyntaxString);
}

/* Task lists */

.contains-task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-list-item {
  list-style: none;
  position: relative;
  width: 100%;
  max-width: 100%;
}

/* Form elements */

form {
  display: grid;
  gap: var(--spaceM);
}

input:is(
    [type='text'],
    [type='email'],
    [type='password'],
    [type='number'],
    [type='search']
  ),
textarea {
  width: 100%;
  border: 2px solid var(--colorText);
  padding: var(--spaceS);
  border-radius: var(--corner);
  transition: var(--transition);
  form-sizing: normal;
}

input:is(
    [type='text'],
    [type='email'],
    [type='password'],
    [type='number'],
    [type='search']
  ):focus,
textarea:focus {
  outline: 4px solid var(--colorText);
}

input:is(
    [type='text'],
    [type='email'],
    [type='password'],
    [type='number'],
    [type='search']
  ) {
  height: 3rem;
}

input:is(
    [type='text'],
    [type='email'],
    [type='password'],
    [type='number'],
    [type='search']
  ):invalid,
textarea:invalid {
  border-color: var(--colorNegative);
}

input:is(
    [type='text'],
    [type='email'],
    [type='password'],
    [type='number'],
    [type='search']
  ):disabled,
textarea:disabled {
  border: 2px dotted currentColor;
}

*:disabled {
  cursor: not-allowed;
}

button {
  cursor: pointer;
}

/* Transitions */

.pop-enter-from,
.pop-leave-to {
  scale: 0.5;
  opacity: 0;
}

.pop-enter-active,
.pop-leave-active {
  transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition: all 160ms ease;
}
.fade-leave-active {
  transition: all 320ms ease;
}

.inyourface-enter-from,
.inyourface-leave-to {
  scale: 0.5;
  opacity: 0;
}

.inyourface-enter-active,
.inyourface-leave-active {
  transition: all 300ms ease-in;
}

/* Color modes */

.dark-mode {
  --colorBackground: var(--colorDark);
  --colorText: var(--colorLight);
  --colorLayer: var(--colorLayerDark);
  --colorNeutral: var(--colorShadeDark);
}

.light-mode {
  --colorBackground: var(--colorLight);
  --colorText: var(--colorDark);
  --colorLayer: var(--colorLayerLight);
  --colorNeutral: var(--colorShadeLight);
}
