:root {
  --colorLight: hsl(6 90% 64%);
  --colorLayerLight: hsl(6 60% 96% / 10%);
  --colorShadeLight: hsl(6 60% 40%);
  --colorShadeDark: hsl(6 60% 26%);
  --colorLayerDark: hsl(6 0% 8% / 10%);
  --colorDark: hsl(6 0% 2%);
  --colorAccent: hsl(126 50% 56%);
  
  --colorBackground: var(--colorLight);
  --colorText: var(--colorDark);
  --colorNegative: coral;
  

  /* Syntax */
  --colorSyntaxKeyword: hsl(24 100% 72%);
  --colorSyntaxString: hsl(36 100% 72%);
  --colorSyntaxLiteral: hsl(72 50% 72%);
  --colorSyntaxTitle: hsl(348 100% 72%);
  --colorSyntaxVariable: hsl(312 70% 72%);

  --spaceXXS: 0.15rem;
  --spaceXS: 0.375rem;
  --spaceS: 0.75rem;
  --spaceM: 1.5rem;
  --spaceL: 2.5rem;
  --spaceXL: 5rem;

  --maxWidthBody: 1440px;

  --fontBase: clamp(14px, calc(14px + 0.5vmin), 20px);
  --fontS: 0.75rem;
  --fontL: 1.25rem;
  --fontXL: clamp(2rem, calc(1.5rem + 2vw), 6rem);

  --fontHeadline: 'Work Sans', Arial, Helvetica, sans-serif;
  --fontBody: 'Inconsolata', monospace;
  --fontMono: 'Inconsolata', monospace;

  --gradientFaded: repeating-linear-gradient(-45deg, transparent, transparent 2px, var(--colorText) 2px, var(--colorText) 4px);
  --gradientWork: repeating-linear-gradient(-45deg, transparent, transparent 8px, var(--colorText) 8px, var(--colorText) 16px);

  --corner: 0.25rem;
  --cornerButton: 0.25rem;

  --shadowLayer: var(--spaceS) var(--spaceS) 0 var(--colorText);

  --transition: all 160ms ease;
}
