:root {
  --colorLight: hsl(6 90% 64%);
  --colorShadeLight: hsl(6 60% 22%);
  --colorShadeDark: hsl(6 50% 40%);
  --colorDark: hsl(6 0% 2%);
  --colorAccent: hsl(66 90% 66%);

  --colorContent: var(--colorDark);
  --colorMeta: hsl(126 70% 56%);
  
  --colorBackground: var(--colorLight);
  --colorText: var(--colorDark);
  --colorNegative: coral;
  

  /* Syntax */
  --colorSyntaxKeyword: hsl(24 100% 72%);
  --colorSyntaxString: hsl(36 100% 72%);
  --colorSyntaxLiteral: hsl(72 50% 72%);
  --colorSyntaxTitle: hsl(348 100% 72%);
  --colorSyntaxVariable: hsl(312 70% 72%);

  --spaceXXS: 0.15rem;
  --spaceXS: 0.375rem;
  --spaceS: 0.75rem;
  --spaceM: 1.5rem;
  --spaceL: 2.5rem;
  --spaceXL: 5rem;

  --maxWidthBody: 1440px;

  --fontBase: min(calc(12px + 0.5vw), 20px);
  --fontS: 0.875rem;
  --fontL: 1.25rem;
  --fontXL: clamp(2rem, calc(1.5rem + 2vw), 6rem);

  --fontHeadline: 'Work Sans', Arial, Helvetica, sans-serif;
  --fontBody: 'Fragment Mono', monospace;
  --fontMono: 'Fira Code', monospace;

  --gradientFaded: repeating-linear-gradient(-45deg, transparent, transparent 2px, var(--colorText) 2px, var(--colorText) 4px);
  --gradientWork: repeating-linear-gradient(-45deg, transparent, transparent 8px, var(--colorText) 8px, var(--colorText) 16px);

  --patternBorder: repeating-linear-gradient(
    0deg,
    var(--colorText),
    var(--colorText) 2px,
    transparent 2px,
    transparent 8px,
    var(--colorText) 8px
  ),
  repeating-linear-gradient(
    90deg,
    var(--colorText),
    var(--colorText) 2px,
    transparent 2px,
    transparent 8px,
    var(--colorText) 8px
  ),
  repeating-linear-gradient(
    180deg,
    var(--colorText),
    var(--colorText) 2px,
    transparent 2px,
    transparent 8px,
    var(--colorText) 8px
  ),
  repeating-linear-gradient(
    270deg,
    var(--colorText),
    var(--colorText) 2px,
    transparent 2px,
    transparent 8px,
    var(--colorText) 8px
  );

  --corner: 0.75rem;
  --cornerButton: 8rem;

  --shadowLayer: var(--spaceS) var(--spaceS) 0 var(--colorText);

  --transition: all 160ms ease;
}
